.detailTipo{
    left: 0;
    top: 3em;
    position: absolute;
    display: flex;
    font-size: larger;
    
}
.imagen{
    border-radius: 10px;
}

.name{
    color: rgb(69, 59, 34);
}

.detailDatos{
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    left: 25em;
    top: 5em;
    width: 30em;
    color: rgb(69, 59, 34);
    /* background-color: red; */
}


.lore{
    color: rgb(39, 124, 137);
    font-size: larger;
    font-weight: bold;

}