body {
  margin: 0;
  padding: 0;
 }
 
 .appcontainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./rick-and-morty-en-otro-planeta_3840x2160.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
 }